{% extends "contracts/base.html" %}

{% block content %}
<div class="main">
  <form method="POST">
    {% csrf_token %}
      <div class="container text-center p-5">
        <div class="card">
          <h3 class="p-4">Do you want to delete <b>{{contract.title}}</b> contract ? </h3>
          <div class="container p-4">
            <input type="submit" class="btn btn-info" value="Delete" />
            <a class= "btn btn-danger" href="{% url 'contracts:my_contracts'%}">Cancel</a>
          </div>
        </div>
      </div>
  </form>
</div>
{% endblock content %}
